.selector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selectable {
  margin: 8px;
  padding: 8px;
  border: 8px solid transparent;
  border-radius: 16px;

  display: flex;
  align-items: center;
}

.selected {
  border-color: blue;
}
